:root {
  --back: #FFFFFF;
  --hint: #CCCCCC;
  --tool: #663399;
  --text: #333333;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Ubuntu Light"),
    local("Ubuntu-Light"),
    url("fonts/Ubuntu-Light.woff2") format("woff2"),
    url("fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Ubuntu Bold"),
    local("Ubuntu-Bold"),
    url("fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src:
    local("Material Symbols Outlined"),
    local("MaterialSymbols-Outlined"),
    url("fonts/MaterialSymbolsOutlined.woff2") format("woff2"),
    url("fonts/MaterialSymbolsOutlined.ttf") format("truetype");
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  color: var(--text);
  background-color: var(--back);
  -webkit-tap-highlight-color: transparent;

  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 110%;

  scrollbar-color: var(--hint) var(--back);
}

.content {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  padding-top: 0;
}

.logo {
  float: right;
  max-width: 5rem;
}

ul {
 list-style-type: square;
}

li {
 margin-bottom: 0.5em;
}

a {
 text-decoration: none;
 font-weight: 700;
 color: var(--tool);
}

.icon {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  /* Let's inherit `font-weight` from text. */
  font-size: 24px;
  font-variation-settings: "opsz" 24, "GRAD" -25; /* Dark Mode */

  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}
